<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Finance Manager', root_url, class: "navbar-brand" %>
    </div>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <% if user_signed_in? %>
            <li>
              <%= link_to "Charges", [current_user, :charges] %>
            </li>
            <li>
              <%= link_to "Calendar", [current_user, :events] %>
            </li>
            <li>
              <%= link_to "Profile", current_user %>
            </li>
            <li>
              <%= link_to "Sign out", destroy_user_session_path, id: "sign", :method => :delete %>
            </li>
        <% else %>
            <li>
            <button type="button" class=" fa fa-sign-in btn" id="login" data-toggle="modal" data-target="#myModal"><%= I18n.t('login') %></button>
            </li>
        <% end %>
      </ul>
    </div>
