<div class="table-responsive" id="income_table">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Источник расхода</th>
      <th>Сумма</th>
    </tr>
    </thead>
        <tbody>
        <% object.expenses.each do |expenses| %>
        <tr>
          <td><%= expenses.id %></td>
          <td><%= expenses.title %></td>
          <td><%= expenses.sum %></td>
          <td><%= link_to "Удалить", [@user, expenses], method: :delete %></td>
        </tr>
        <% end %>
        </tbody>
  </table>
  <span id="expense_sum"> Общая сумма затрат <%= object.expenses.sum(:sum) %> грн </span>
</div>