<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="description"/>
  <meta content="width=device-width" name="viewport"/>
  <title>Autobooking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "application", "chartkick" %>
  <%= csrf_meta_tags %>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <%= render "shared/header" %>
    </nav>
  </div>
</head>
<body>
<div id="main-content">
    <% unless @charges.present? %>
      <%= render "charges/new_charge", object: @user %>
    <% else %>
        <h1 class="page-header">У вас <%= @charges.count %> <%= Russian.p(@charges.count, t('charges.list'), t('charges.list1'), t('charges.list2')) %>
            <a class="btn btn-primary btn-lg" id="create_charge" role="button">Создать список покупок</a>
        </h1>
      <div id="charge_new" hidden>
        <%= form_for  [@user, Charge.new] do |f| %>
            <%= f.hidden_field :user_id, value: @user.id%>
            <%= f.text_field :name, id: 'name', placeholder: 'Название', class: 'form-control', required: true %>
            <%= submit_tag "Сохранить", class: "btn btn-info" %>
        <% end %>
      </div>
      <div class="row">
        <% @charges.each do |charge| %>
        <div class="col-lg-3 col-md-6">
          <div class="panel panel-yellow">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <span><%= charge.name %></span>
                  <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"><%= charge.charge_elements.count %></div>
                  <div><%= Russian.p(charge.charge_elements.count, t('charges.element'), t('charges.elemetn1'), t('charges.element2')) %></div>
                </div>
              </div>
            </div>
            <a href="#">
              <div class="panel-footer">
                <span class="pull-left"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Редактировать список</button></span>
                <%= link_to "Удалить", [@user, charge], method: :delete,  class: "pull-right btn btn-danger" %>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
            <div id="myModal" class="modal fade">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center">Список покупок</h4>
                  </div>
                  <div class="modal-body">
                    <% if charge.charge_elements.present? %>
                        <%= render "charges/charge_elements", object: charge %>
                    <% end %>
                    <%= form_for [current_user,charge, ChargeElement.new] do |f| %>
                        <div class="form-group">
                          <%= f.text_field :name, class: "form-control", placeholder: "Название", required: true %>
                          <%= f.hidden_field :charge_id, value: charge.id%>
                          <div class="form-hint"></div>
                        </div>
                        <div class="form-group">
                          <%= f.submit 'Сохранить', class: "btn btn-signin btn-primary", id: "rg_but" %>
                        </div>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><%= I18n.t('exit') %></button>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
</div>
</body>

