<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="description"/>
  <meta content="width=device-width" name="viewport"/>
  <title>Autobooking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag "application", "chartkick" %>
  <%= csrf_meta_tags %>
  <div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <%= render "shared/header" %>
    </nav>
  </div>
</head>
<body>
<div id="main-content">
    <% unless @charges.present? %>
      <%= render "charges/new_charge", object: @user %>
    <% else %>
        <h1 class="page-header">У вас <%= @charges.count %> списков
            <a class="btn btn-primary btn-lg" id="create_charge" role="button">Создать список покупок</a>
        </h1>
      <div id="charge_new" hidden>
        <%= form_for  [@user, Charge.new] do |f| %>
            <%= f.hidden_field :user_id, value: @user.id%>
            <%= f.text_field :name, id: 'name', placeholder: 'Название', class: 'form-control' %>
            <%= submit_tag "Сохранить", class: "btn btn-info" %>
        <% end %>
      </div>
      <div class="row">
        <% @charges.each do |charge| %>
        <div class="col-lg-3 col-md-6">
          <div class="panel panel-yellow">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">124</div>
                  <div>Товара</div>
                </div>
              </div>
            </div>
            <a href="#">
              <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
        </div>
    <% end %>
</div>
</body>